<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SignUp</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h3>Sign Up New account</h3>
    <form method="post" action="/register">
      <input type="text" name="FirstName" placeholder="FirstName" required>
      <input type="text" name="LastName" placeholder="LastName" required>
      <input type="number" name="Age" placeholder="Age" required>
      <input type="email" name="email" placeholder="email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="text" name="role" placeholder="Role (e.g. user/admin)">
      <button type="submit">Register</button>
    </form>
    <form method="get" action="/login">
      <button type="submit">Log into my account</button>
    </form>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
  </div>
</body>
</html>
